<div class="container">
  <div class="title">Editar Alerta</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" placeholder="Nombre de la alerta" required>
        </div>
        <div class="input-box">
          <span class="details">Descripcion</span>
          <input type="text" placeholder="Descripcion de la alerta" required>
        </div>
        <div class="input-box">
          <span class="details">Fecha</span>
          <input type="date" placeholder="Fecha de Alerta" required>
        </div>
        <div class="input-box">
          <span class="details">Servicio</span>
          <input type="text" placeholder="Codigo del Servicio" required>
        </div>
      </div>

      <div class="button">
        <input type="submit" value="Guardar">
      </div>
    </form>
  </div>
</div>
